In [1]:
import pandas as pd
from geopy.geocoders import Nominatim
from timezonefinder import TimezoneFinder

In [3]:
timezones = pd.read_csv('timezones.csv')
timezones['utc_offset'] = timezones['offset'] / 3600
timezones['utc_offset_dst'] = timezones['offset_dst'] / 3600
timezones_data = timezones[['timezone', 'utc_offset', 'utc_offset_dst']]

timezones_data.head()

             timezone  utc_offset  utc_offset_dst
0      Africa/Abidjan         0.0             0.0
1        Africa/Accra         0.0             0.0
2  Africa/Addis_Ababa         3.0             3.0
3      Africa/Algiers         1.0             1.0
4       Africa/Asmara         3.0             3.0

In [4]:
test_data = pd.read_csv('dashboard_test_data.csv')
test_data.head()

                name start_time finish_time             location
0    Monkey D. Luffy       9:00       17:00    Columbus, OH, USA
1       Roronoa Zoro      10:00       18:00      Boston, MA, USA
2  Tony Tony Chopper       9:00       17:00   San Diego, CA, USA
3     Naruto Uzumaki       9:00       17:00    Sydney, Australia
4      Sasuke Uchina       9:00       17:00  Okinawa City, Japan

In [5]:
geolocator = Nominatim(user_agent="MyApp")
locations = list(test_data['location'])

latitude = []
longitude = []
for location in locations:
    latitude.append(geolocator.geocode(location).latitude)
    longitude.append(geolocator.geocode(location).longitude)

In [6]:
test_data['latitude'] = latitude
test_data['longitude'] = longitude
test_data.head()

,name,start_time,finish_time,location,latitude,longitude
0,Monkey D. Luffy,9:00,17:00,"Columbus, OH, USA",39.962260,-83.000707
1,Roronoa Zoro,10:00,18:00,"Boston, MA, USA",42.355433,-71.060511
2,Tony Tony Chopper,9:00,17:00,"San Diego, CA, USA",32.717420,-117.162773
3,Naruto Uzumaki,9:00,17:00,"Sydney, Australia",-33.869844,151.208285
4,Sasuke Uchina,9:00,17:00,"Okinawa City, Japan",34.663429,135.503272

In [7]:
obj = TimezoneFinder()
timezone = []
for index, lat in enumerate(latitude):
    timezone.append(obj.timezone_at(lng=longitude[index], lat=lat))

In [10]:
test_data['timezone'] = timezone
test_data.head(15)

,name,start_time,finish_time,location,latitude,longitude,timezone
0,Monkey D. Luffy,9:00,17:00,"Columbus, OH, USA",39.962260,-83.000707,America/New_York
1,Roronoa Zoro,10:00,18:00,"Boston, MA, USA",42.355433,-71.060511,America/New_York
2,Tony Tony Chopper,9:00,17:00,"San Diego, CA, USA",32.717420,-117.162773,America/Los_Angeles
3,Naruto Uzumaki,9:00,17:00,"Sydney, Australia",-33.869844,151.208285,Australia/Sydney
4,Sasuke Uchina,9:00,17:00,"Okinawa City, Japan",34.663429,135.503272,Asia/Tokyo
5,Rock Lee,9:00,17:00,"Tokyo, Japan",35.681266,139.757653,Asia/Tokyo
6,Thierry Henry,9:00,17:00,"Manchester, UK",53.479489,-2.245115,Europe/London
7,Bukayo Saka,9:00,17:00,"London, UK",51.507336,-0.127650,Europe/London
8,Arsene Wenger,9:00,17:00,"Berlin, Germany",52.517037,13.388860,Europe/Berlin
9,Gennady Golovkin,12:00,20:00,"Almaty, Kazakhstan",43.236392,76.945728,Asia/Almaty
10,Glover Teixeira,8:00,16:00,"Bethel, CT, USA",41.372643,-73.412668,America/New_York
11,Manny Pacquiao,8:00,16:00,"Manila, Philippines",14.594891,120.978262,Asia/Manila

In [11]:
dashboard_data = pd.merge(test_data, timezones_data, on='timezone', how='left')
dashboard_data.head(15)

,name,start_time,finish_time,location,latitude,longitude,timezone,utc_offset,utc_offset_dst
0,Monkey D. Luffy,9:00,17:00,"Columbus, OH, USA",39.962260,-83.000707,America/New_York,-5.0,-4.0
1,Roronoa Zoro,10:00,18:00,"Boston, MA, USA",42.355433,-71.060511,America/New_York,-5.0,-4.0
2,Tony Tony Chopper,9:00,17:00,"San Diego, CA, USA",32.717420,-117.162773,America/Los_Angeles,-8.0,-7.0
3,Naruto Uzumaki,9:00,17:00,"Sydney, Australia",-33.869844,151.208285,Australia/Sydney,10.0,11.0
4,Sasuke Uchina,9:00,17:00,"Okinawa City, Japan",34.663429,135.503272,Asia/Tokyo,9.0,9.0
5,Rock Lee,9:00,17:00,"Tokyo, Japan",35.681266,139.757653,Asia/Tokyo,9.0,9.0
6,Thierry Henry,9:00,17:00,"Manchester, UK",53.479489,-2.245115,Europe/London,0.0,1.0
7,Bukayo Saka,9:00,17:00,"London, UK",51.507336,-0.127650,Europe/London,0.0,1.0
8,Arsene Wenger,9:00,17:00,"Berlin, Germany",52.517037,13.388860,Europe/Berlin,1.0,2.0
9,Gennady Golovkin,12:00,20:00,"Almaty, Kazakhstan",43.236392,76.945728,Asia/Almaty,6.0,6.0
10,Glover Teixeira,8:00,16:00,"Bethel, CT, USA",41.372643,-73.412668,America/New_York,-5.0,-4.0
11,Manny Pacquiao,8:00,16:00,"Manila, Philippines",14.594891,120.978262,Asia/Manila,8.0,8.0