In [4]:
import pandas as pd
from geopy.geocoders import Nominatim

In [2]:
timezones = pd.read_csv('timezones.csv')
timezones['utc_offset'] = timezones['offset'] / 3600
timezones['utc_offset_dst'] = timezones['offset_dst'] / 3600
timezones_data = timezones[['timezone', 'utc_offset', 'utc_offset_dst']]

timezones_data.head()

             timezone  utc_offset  utc_offset_dst
0      Africa/Abidjan         0.0             0.0
1        Africa/Accra         0.0             0.0
2  Africa/Addis_Ababa         3.0             3.0
3      Africa/Algiers         1.0             1.0
4       Africa/Asmara         3.0             3.0